body {
    width: auto;
    height: auto;
    text-align: center;
    background-color: deepskyblue;
}

h1 {
    color: #0da60d;
}

.container {
    margin-top: 50px;
}


.tamagotchi {
    border: 2px;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    background-color: deepskyblue;
}

#ChatBox {
    width: 80%;
    padding: 10px;
}

#verstuur {
    padding: 10px;
    width: 85px;
}
