body {
    width: auto;
    height: auto;
    text-align: center;
    background-color: deepskyblue;
}

h1 {
    color: #0da60d;
}

.container {
    margin-top: 50px;
}


.tamagotchi {
    border: 2px;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    background-color: deepskyblue;
}

#ChatBox {
    width: 80%;
    padding: 10px;
}

#verstuur {
    padding: 10px;
    width: 85px;
}

#chatMessages {
    list-style: none;
    padding: 0;
}

#chatMessages li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#chat {
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
#Audio {
    display: none;
}

#audioVideo {
    display: none;
}

#Restart {
    display: none;
}

